#about-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
  
.ant {
    height: 50%;
    width: 50%;
}

.form-container {
    width: 100%;
}

p {
    color: white;
}